.row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-9);
  align-items: center;
}

.name {
  font-weight: var(--weight-bold);
  font-size: var(--text-heading-sm);
}

.bio {
  font-size: var(--text-lg);
  line-height: var(--leading-loose);
  color: var(--color-muted);
  margin-top: var(--space-4);
  max-width: 60ch;
}

.links {
  display: flex;
  gap: var(--space-4-5);
  margin-top: var(--space-4-5);
}

.link {
  font-size: var(--text-md);
  font-weight: var(--weight-semibold);
  text-decoration: none;
  color: var(--color-accent);
}

@media (max-width: 620px) {
  .row {
    grid-template-columns: 1fr;
    gap: var(--space-5);
  }
}
